@model GoWatch.Web.Models.MovieCreateEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 style="color: floralwhite">Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create"
            enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label" style="color: floralwhite">Title</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label" style="color: floralwhite">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieUrl" class="control-label" style="color: floralwhite">MovieUrl</label>
                <input asp-for="MovieUrl" class="form-control" />
                <span asp-validation-for="MovieUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="PictureUrl" type="hidden" value="-" class="form-control" style="color: floralwhite" />
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label" style="color: floralwhite">Picture</label>
                <input asp-for="Picture" type="file" class="form-control-file" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfCreation" class="control-label" style="color: floralwhite">Year</label>
                <input asp-for="YearOfCreation" class="form-control" />
                <span asp-validation-for="YearOfCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label" style="color: floralwhite">Director</label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriesIds" class="control-label" style="color: floralwhite">Genre</label>
                <select multiple="multiple" asp-for="CategoriesIds" class="form-control" asp-items="@(new MultiSelectList(ViewBag.Categories, "Id", "Name"))"></select>
            </div>
            <input type="hidden" asp-for="UserId" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" >Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
