@model GoWatch.Web.Models.MovieCreateEditViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1 style="color: floralwhite">Edit</h1>

<h4 style="color: floralwhite">Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label" style="color: floralwhite"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label" style="color: floralwhite"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="YearOfCreation" class="control-label" style="color: floralwhite"></label>
                <input asp-for="YearOfCreation" class="form-control" />
                <span asp-validation-for="YearOfCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label" style="color: floralwhite"></label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
